<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
</head>
<body>
<h1>User Profile</h1>
<div th:if="${user!=null}">
    <p>Username: <span th:text="${user.username}">Username</span></p>
    <button class="sing-button" onclick="window.location.href='/order'">Orders</button>
    <button class="log-button" onclick="window.location.href='/logout'">LogOut</button>
</div>
<div th:if="${user==null}">
    <p>Please LoginIn</p>
    <button class="sing-button" onclick="window.location.href='/login'">Login</button>
</div>
</body>
</html>
