<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="ru">
<head>
    <title>User Data</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>User Data</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.password}">Password</td>
        <td th:if="${user.role.name=='ROLE_ADMIN'}" th:text="${user.role.name}">Password</td>
        <td>
            <form th:if="${user.role.name!='ROLE_ADMIN'}" th:action="@{/admin/update-role}" method="post">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <select name="roleId">
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
                            th:selected="${role.id == user.role.id}"></option>
                </select>
                <button type="submit">Update Role</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/remove}" method="post">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <button th:if="${user.role.id!=1}" type="submit">Remove</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
